html {
	color: #e0e0e0;
	font-family: 'Segoe UI';
	--background-color: gray;
}

::-webkit-scrollbar {
  --width: 0px;
}

::-webkit-scrollbar-track
{
	border: 1px solid black;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #000000;	
}

#wrap {
	width: 25vw;
	min-height: 185px;
	max-height: 98%;
	margin-top: 1%;
	margin-left: 40%;
	margin-right: 0%;
	background-color: rgb(0, 0, 0, 0.0);
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.65), 0px 2px 10px 0px rgba(0, 0, 0, 0.65);
	color: rgba(255, 255, 255, 0.0);
	border-radius: 10px;
}

.header {
	font-family: 'Segoe UI';
	height: 35px;
	width: auto;
	background-color: rgb(0, 0, 0, 0.65);
	padding-left: 0px;
	padding-right: 0px;
	border-top-left-radius: 10px 10px;
	border-top-right-radius: 10px 10px;
}

.jobs {
	font-family: 'Segoe UI';
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	background-color: rgba(0, 0, 0, 0.65);
	height: 2vw;
	width: 100%;
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.0), 0px 0px 0px 0px rgba(0, 0, 0, 0.0);
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	
}

.jobs p {
	font-family: 'Segoe UI';
	font-size: 0.90vw;
	font-weight: bold;
	color: green;
	position: relative;
	bottom: 11px;
}

.jobs img {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.jobs span {
	position: relative;
    bottom: 2px;
	left: 5px;
}

.playerlist {
	overflow: hidden;
}

table {
	text-align: left;
	--color: rgba(0, 230, 138, 0.65);
}

table ,tr td{
    --border:1px solid red
}

tbody {
	display: block;
	max-height: 900px;
	overflow-y: auto;
}

thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}

thead {
    width: 100%;
}

table {
    width: 100%;
}

th, td {
	padding-left: 25px;
    width: 2%;
}

th {
	padding-top: 10px;
	height: 40px;
}

tr {
	font-family: 'Segoe UI';
	font-size: 0.7vw;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.90);
	font-weight: bold;
}

tr.heading {
	font-family: 'Segoe UI';
	font-size: 0.90vw;
	color: rgba(255, 0, 0, 0.65);
}

.serverinfo {
	font-family: 'Segoe UI';
	font-size: 0.70vw;
	text-align: center;
	position: relative;
	/*left: 405px;*/
	bottom: -10px;
	font-size: 13px;
	color: rgba(255, 255, 255, 0.90);
	font-weight: bold;
	padding: 20px;
}